{% extends "../layout.twig" %}

{% block content %}
    <div class="jumbotron text-center">
        Página Inicial
    </div>
    
    {% for el in data %}
        <div class="col-md-4">
            <img class="image" src="{{el.image}}">
            <p>{{ el.title }}</p> 
        </div>       
    {% endfor %}

{% endblock %}

{% block style %}
    <style>
        .image{
            width: 100%;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="script/tools.js" />
{% endblock %}